/* Общие переменные */

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
}

:root {
  --black-brand-color: rgba(47, 47, 47, 1);
  --green-brand-color: rgba(130, 203, 172, 1);
  --brand-color-red: rgba(255, 127, 150, 1);
  --yellow: rgba(234, 215, 27, 1);
  --white: rgba(255, 255, 255, 1);
}

body {
  font-family: 'Outfit';
  box-sizing: border-box;
  color: var(--black-brand-color);
  background-color: var(--white)
  margin: 0;
}

.header-page{
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 20px;
}

.container {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.nav-wrapper {

    
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 70px;
  width: 100%;

  background-color: var(--white);
  border-radius: 30px;

  box-shadow: 0 -10px 35px rgba(219, 218, 218, 0.5);
}
.nav {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  list-style: none;
  margin-left: 46px;
}
.header-nav .header-list + .header-list {
  margin-left: 46px;
}
.header-link {
  position: relative;
  color: var(--black-brand-color);
  font-weight: 300;
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: 0.48px;
}

.header-link::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -15px;

  width: 100%;
  height: 2px;
  background-color: var(--black-brand-color);

  transform: scaleX(0);

  transition: transform 250ms ease;
}

.header-link:hover::after {
  transform: scaleX(1);
  background-color: var(--brand-color-red);
}

.logo-link {
  margin-left: 28px;
}
.nav-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-right: 28px;
}

.nav-social-icon:not(:first-child) {
  margin-left: 19px;
}

.icon {
  display: inline-block;
  width: 18px;
  height: 18px;

  transform: scale(1);
  transition: transform 250ms ease;
}

.icon:hover,
.icon:focus {
  fill: var(--brand-color-red);
  cursor: pointer;
  transform: scale(1.1);
}

.nav-social-btn {
  color: var(--white);
  padding: 11px 15px;

  color: var(--white);
  font-weight: 300;
  font-size: 13px;
  line-height: 1.1;
  letter-spacing: 0.48px;
  margin-left: 47px;

  border-radius: 20px;
  background-color: var(--black-brand-color);

  transition: background-color 500ms ease;
}

.nav-social-btn:hover,
.nav-social-btn:focus {
  background-color: var(--brand-color-red);
}

/* Hero container */

.hero-section {
    margin-top: 130px;
    margin-bottom: 40px;
    background-color: var(--white);
}
.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 180px;
}
.hero-left-side, .hero-right-side {
    width: 50%;
}

.hero-right-side{
    height: 510px;
}
.left-card,
.right-card {
  list-style: none;
  margin: 0;
  padding: 0;
}

.left-sub-title {
  margin-top: 0;
  margin-bottom: 1px;

  font-weight: 300;
  font-size: 13px;
  line-height: 1.1;
  letter-spacing: 0.48px;

  color: var(--green-brand-color);
}
.left-title {
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  letter-spacing: 0.48px;

  margin-top: 0;
  margin-bottom: 8px;

  color: var(--black-brand-color);
}
.left-text {
  font-weight: 300;
  font-size: 17px;
  line-height: 1.2;
  letter-spacing: 0.48px;

  margin-top: 0;
  margin-bottom: 0;

  color: var(--black-brand-color);
}

.card-one, .card-two, .right-card {
    position: relative;
}

.right-card{
    padding-left: 20px;
}

.card-two{
    position: absolute;
    top: 100px;
    right: 0;

}

.img-wrapper{
    overflow: hidden;
    border-radius: 30px;
    display: inline-block;
    box-shadow: 0px 2px 25px rgba(168, 168, 168, 0.5);
}

.img-wrapper img{
    display: block;
}

.card-one-title {
    position: absolute;
    top: 15px;
    left: -80px;

    display: flex;
    align-items: center;
    width: 150px;

    padding: 6px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.05);
    border-radius: 30px;

    transform: translateX(0);
    transition: transform 250ms ease;
}

.card-one-title:hover{
    transform: translateX(10px);
}

.card-one-title::before{
    content: '';

    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 10px;


    background-image: url(./image/face-boy.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.card-one-subtitle {
   font-weight: 400;
   font-size: 11px;
   line-height: 1;
   letter-spacing: 0.48px;
}

.card-two-title {
    position: absolute;
    bottom: 25px;
    left: -80px;

    display: flex;
    align-items: center;
    width: 200px;

    padding: 6px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.05);
    border-radius: 30px;

    transform: translateX(0);
    transition: transform 250ms ease;
}

.card-two-title::before{
    content: '';

    width: 54px;
    height: 54px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 10px;


    background-image: url(./image/IMAGE-face1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    
}
.card-two-title:hover{
    transform: translateX(10px);
}
.card-two-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.48px;
}


/* iMg Gallery */

.img-gallery {
    margin-bottom: 40px;

}
.img-row {
    display: flex;

    margin: 0;
    padding: 0;
    list-style: none;
}

.img-card{
    position: relative;
    z-index: 1;
    transform: scale(1);

    transition: transform 500ms ease;
}

.img-card:hover{
    transform: scale(1.1);
    z-index: 2;
}

/* We Are */
.we-are-body {
}
.title {
    

    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0.48px;

    color: var(--black-brand-color);
}

.we-title {
    text-align: center;

    margin-top: 0;
    margin-bottom: 25px;
}

.we-subtitle {
    text-align: center;

    font-weight: 300;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.48px;

    margin-top: 0;
}
.we-are-artist {
    padding: 50px 48px;
    margin-bottom: 96px;

}

.we-link {
    display: flex;

    margin: 0;
    padding: 0;
    list-style: none;

}
.we-link li + li{
    margin-left: 7px;
}

.we-btn {
    min-width: 175px;

    padding: 11px 64px;
    border: 1px solid var(--black-brand-color);
    border-radius: 30px;
    background-color: transparent;

    cursor: pointer;

    transition: background-color 500ms ease;
}

.we-btn:hover{
    background-color: var(--black-brand-color);
    color: var(--white);
}

.body-artist {
    display: flex;
    align-items: center;
    list-style: none;

    padding-top: 64px;
    padding-bottom: 50px;
}

.artist-subtitle {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.48px;

    color: var(--brand-color-red);

    margin-top: 0;
    margin-bottom: 14px;

}
.artist-hero-title {
    margin-top: 0;
    margin-bottom: 21px;

    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0.48px;

    color: var(--black-brand-color);
}

.artist-text{
    margin-top: 0;

    padding-right: 75px;

    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.48px;

    color: var(--black-brand-color);
}

/* Work section */
.our-work {
    margin-bottom: 84px;
    
}
.our-work-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    list-style: none;
}

.our-work-title {
    padding-left: 48px;
}
.work-subtitle {
    text-transform: uppercase;

    font-weight: 300;
    font-size: 35px;
    line-height: 1;
    letter-spacing: 0.48px;
    
    color: var(--black-brand-color);

    margin-top: 0;
    margin-bottom: 7px;
}
.work-hero-title {

    font-weight: 400;
    font-size: 48px;
    line-height: 1;
    letter-spacing: 0.48px;

    color: var(--black-brand-color);

    margin-top: 0;
    margin-bottom: 38px;
}
.work-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.3;

    letter-spacing: 0.48px;

    color: var(--black-brand-color);

    margin-top: 0;
    margin-bottom: 32px;
}

.work-button{
    display: flex;
    justify-content: flex-end;

}

.button{
  display: inline-block;

    padding: 12px 40px;

    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.48px;

    border: 1px solid transparent;
    color: var(--white);
    background-color: var(--black-brand-color);

    transition: background-color 250ms ease, color 250ms ease;
  
}

.button:hover{
    background-color: transparent;
    border: 1px solid var(--black-brand-color);
    color: var(--black-brand-color);
}


/* Our Progress */

.our-progress{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  margin-bottom: 185px;

}

.our-progress-section {
  list-style: none;

  margin: 0;
  padding: 64px;
}
.our-progress-list {
  margin-bottom: 34px;
  
}
.progress-subtitle {
  display: inline-block;

  font-weight: 300;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.48px;

  padding: 6px 20px;
  margin-bottom: 5px;
  border-radius: 30px;

  color: var(--white);
  background-color: var(--black-brand-color);
}
.title-green{
  background-color: var(--green-brand-color);
}
.title-red{
  background-color: var(--brand-color-red);
}
.title-yellow{
  background-color: var(--yellow);
}

.progress-hero-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 1;
  letter-spacing: 0.48px;

  color: var(--black-brand-color);
  margin-top: 0;
  margin-bottom: 13px;
}
.progress-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.48px;

  color: var(--black-brand-color);
  margin: 0;

}


/* Join Us */

.join-us {
  background-color: var(--green-brand-color);

  padding-top: 70px;
  padding-bottom: 80px;
  position: relative;
}
.join-us-section {
  list-style: none;

}

.join-us-hero-title {
  font-weight: 300;
  font-size: 64px;
  line-height: 1;
  letter-spacing: 0.48px;

  margin-top: 0;
  margin-bottom: 30px;

  color: var(--black-brand-color);

}
.work-text {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 0.48px;

  margin-bottom: 48px;

  color: var(--black-brand-color);
}
.join-us-img {
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;

  opacity: 1;

  transition: opacity 250ms ease;
}

.join-us:hover .join-us-img{
  opacity: 0;
  pointer-events: none;
}


/* cCollection */

.collection {
  padding-top: 100px;
}
.collection-title {
  text-align: center;

  margin-top: 0;
  margin-bottom: 73px;
}
.title {
}
.collection-items {
  display: flex;
  justify-content: space-between;

  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 64px;
}
.collection-item {
}
.collection-img {
  display: block;

  margin-bottom: 29px;
}
.collection-text {
  font-weight: 500;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.48px;

  color: var(--black-brand-color);

  padding-left: 50px;

  margin-top: 0;
}
.collection-button {
  display: flex;
  justify-content: center;
}


/* TOP NFT */

.top-nft {
  padding-top: 104px;
}
.top-nft-title {
  text-align: center;

  margin-top: 0;
  margin-bottom: 16px;

}
.nft-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  margin: 0;
  margin-bottom: 64px;

  list-style: none;
}
.nft-item {
  margin: 18px;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.nft-img {
  display: block;
  margin-bottom: 30px;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  transform: scale(1);
  transition: transform 500ms ease;
}
.nft-img:hover{
  transform: scale(1.05);
}

.nft-item-number {
  display: flex;
  justify-content: space-around;
}
.nft-item-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.48px;

  color: var(--black-brand-color);
}
.nft-item-slesh {
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.48px;

  margin-left: 8px;
  color: var(--black-brand-color);
}
.nft-item-svg {
  display: flex;
}

.icon-link{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  width: 38px;
  height: 38px;

  margin-right: 8px;
  background: rgba(168, 193, 216, 0.2);
}
.icon-link:not(:first-child){
  width: 38px;
  height: 38px;

  border-radius: 50%;
  background-color: var(--brand-color-red)
}
.icon-yse {
  width: 18px;
  height: 18px;

  fill: rgba(0, 0, 0, 0.7);

  transition: fill 250ms ease;
}

.icon-link:hover .icon-yse{
  fill: var(--brand-color-red);
}

.icon-lock {
  width: 18px;
  height: 18px;

  fill: var(--white);

  transition: fill 250ms ease;
}

.icon-link:hover .icon-lock{
  fill: var(--black-brand-color);
}

.nft-button {
  display: flex;
  justify-content: center;
}




