:root {
  --black-brand-color: rgba(47, 47, 47, 1);
  --green-brand-color: rgba(130, 203, 172, 1);
  --brand-color-red: rgba(255, 127, 150, 1);
  --yellow: rgba(234, 215, 27, 1);
  --white: rgba(255, 255, 255, 1);
}
